/* 
===============================================================================================
 
	Full Stack Web Developer
	Cloud Styles
	cloud.css
	11/08/2025
 
===============================================================================================
*/

#aws, #azure, #google, #github, #linkedin
{
    height: auto;
    width: auto;
    /*padding: ;*/
    /*border: 1px solid #000000;*/
    margin: 5px 5px;
}

a.cloud
{
    padding: 10px 20px;
    margin: 0px 10px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    clear: both;
}

a:link.cloud, a:visited.cloud, a:active.cloud
{
    background-color: #eeeeee;
    color: #111111;
    text-decoration: none;
}

a:hover.cloud
{
    background-color: #0000ff;
    color: #eeeeee;
    border-radius: 10px;
    cursor: default;
}

img.cloud
{
    height: 40px; 
    width: 40px;
    float: left;
}