/* 
===============================================================================================
 
	Full Stack Web Developer
	Sec.6 Intro to CSS
	styles.css
	11/08/2025
 
===============================================================================================
*/

html
{
	background-color: #eeeeee;
}

#header
{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    height: auto;
    width: 50%;
    padding: 0% 25%;
}

#menu
{
    text-align: center;
    height: auto;
    width: 70%;
    padding: 0% 15%;
}

#main
{
    /*text-align: ;*/
    height: auto;
    width: 50%;
    padding: 0% 25%;
}

#footer
{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    height: auto;
    width: 70%;
    padding: 0% 15%;
    clear: both;
}

h1, h2, h3, h4, h5, h6
{
	color: #111111;
	font-family: sans-serif;
	text-align: left;
}

p
{
	color: #111111;
	font-family: sans-serif;
	font-size: 16px;
	text-align: justify;
}

::selection
{
    background-color: #007700;
    color: #eeeeee;
}

a:link.menu, a:visited.menu, a:active.menu
{
    background-color: #eeeeee;
    color: #111111;
    text-decoration: none;
    padding: 14px 25px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    display: inline-block;
}

a:hover.menu
{
    background-color: #111111;
    color: #eeeeee;
    padding: 14px 25px;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    cursor: default;
}